<form class="todos__single" *ngFor="let todo of Todos; let i = index" cdkDrag>
  <!-- <input class="todos__single--text" /> -->

  <!-- <s class="todos__single--text"></s> -->

  <input
    *ngIf="todo.edit"
    class="todos__single--text"
    value="{{ todo.todo }}"
    [(ngModel)]="todo.todo"
    name="todo {{ todo.id }}"
  />

  <s *ngIf="todo.isDone && !todo.edit" class="todos__single--text">{{
    todo.todo
  }}</s>

  <span *ngIf="!todo.edit && !todo.isDone" class="todos__single--text">{{
    todo.todo
  }}</span>

  <div>
    <span (click)="checkTodo(todo)" class="icon">
      <mat-icon>done</mat-icon></span
    >
    <span (click)="editTodo(todo.id)" class="icon">
      <mat-icon>edit</mat-icon>
    </span>
    <span class="icon"
      ><mat-icon
        (click)="deleteTodo(todo.id)"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="delete"
      ></mat-icon>
    </span>
  </div>
</form>
